body{
    margin: 0;
    text-align: center;   
    font-family: 'Merriweather', serif;
    color: #40514E;
    
}

.kafa {
    width: 70px;
    float: left;
    position: absolute;
    left:100px;

}
.navbar {
    float: right;
    margin-right:100px;
    
}
.navbar a {
    text-decoration: none;
    color:#21564b;
    font-weight: bolder;
    border-right: 1px solid rgba(16, 16, 16, 0.4);
    padding: 10px;
}

.navbar a:hover {
    background-color: gray;
    color: #1F2833;
    font-size: 1.3em;
  }
h1 {
    font-family: 'Sacramento', cursive;
    margin-bottom: 10px;
    font-size: 90px;
    color: #66BFBF;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #66BFBF;
    font-weight: normal;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
p {
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 30px;
}

.top-cloud {
    position: absolute;
    right:200px;
    top:100px;
    width: 150px;   
}
.bottom-cloud {
    position: absolute;
    left:200px;
    bottom:400px;
    width: 150px;
}
.middle-container {
    margin-top: 100px auto;
    
}
#profil {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top:50px;
}
.intro {
    width:30%;
    margin:auto;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: justify;
    

}
.code-img {
    width: 25%;
    height: 150px;
    float: left;
    margin-top: 5px;
    margin-right: 25px;
    
}
.chilli-img {
    width: 25%;
    float: right;
    margin-left: 25px;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}
.contact-me p {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
    
   
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-top: 100px;
    font-size: 20px;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.bottom-container a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}